<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tanglie1993.my9gag" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageActivity"
            android:label="@string/title_activity_image" >
        </activity>
        <activity
            android:name=".DrawerTestActivity"
            android:label="@string/title_activity_drawer_test" >
        </activity>

        <provider
            android:name=".FeedsProvider"
            android:authorities="com.example.tanglie1993.FeedsProvider"
            android:enabled="true"
            android:exported="true" >
        </provider>

        <activity
            android:name=".FavoritesActivity"
            android:label="@string/title_activity_favorites" >
        </activity>
    </application>

</manifest>
